<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Generic phone / Cardboard viewer: no VR headset requirement, no
         Oculus metadata. Installable on any GLES3 phone with a gyro. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

    <application>
        <activity
            android:name="android.app.NativeActivity"
            android:screenOrientation="sensorLandscape" />
    </application>
</manifest>
